<div class="forgotpassword-container">
  <div class="forgotpassword">
    <div class="form">
      <!-- form header -->
      <div class="forgotpassword-header" style="text-align: center;">
        <h3>Reset Password</h3>
      </div>
      <!-- form body -->
      <form #saveForm="ngForm" (ngSubmit)="forgotPassword(saveForm)">
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required />
        <input type="text" placeholder="Securityque" [(ngModel)]="securityQuestion" name="securityque" required />
        <input type="text" placeholder="Securityans" [(ngModel)]="securityAnswer" name="securityans" required />

        <button type="submit" (click)="onPress()">Submit</button>

        <p>Go back to <a href="/login">Login</a></p>
        <div id="comp-reset" *ngIf="display"></div>
      </form>
    </div>
  </div>
</div>